doctype html
html
    head
        title= title
        link(rel='stylesheet', href='http://willi.am/stylesheets/screen.css')
        link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css')
    body
        header#header.inner
            h1
                a(href='/')= blog.title
            nav#main-nav
                ul#main
                    li: a(href='/plugins') Plugins
        #content.inner
            block content
