extends layout

block content
    article.post
        h2.title= post.title
        .entry-content
            != post.body
        .meta
            .date
                time(datetime=post.date, pubdate, data-updated="true")= post.displayDate
            .tags
                - for (var i = 0; i < post.tags.length; i++)
                    a.category(href=post.tags[i].url)= post.tags[i].name
